[project]
name = "test"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "mediapipe==0.10.11",
    "opencv-python>=4.13.0.90",
    "pygame>=2.6.1",
]
